@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-jungle: #0b1d27;
  --color-dim-gray: #656e73;
  --color-light-silver: #d9d9d9;
  --color-base-white: #fafafa;
}

@theme {
  --color-dark-jungle: #0b1d27;
  --color-dim-gray: #656e73;
  --color-light-silver: #d9d9d9;
  --color-base-white: #fafafa;

  /* CamelCase aliases if you prefer */
  --color-darkJungle: var(--color-dark-jungle);
  --color-dimGray: var(--color-dim-gray);
  --color-lightSilver: var(--color-light-silver);
  --color-baseWhite: var(--color-base-white);

  --font-allura: var(--font-allura);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-urbanist), sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
